{% extends 'basic.html' %}

{% block content %}
<p>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Никнейм</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">id:</div>
                    </div>
                    <input type="login" class="form-control" id="inlineFormInputGroup" maxlength="20" name = username placeholder="Никнейм">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Пароль</label>
                <input type="password" class="form-control mb-2" id="inlineFormInput" maxlength="20" name = password placeholder="Пароль">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Зарегистрироваться</button>
            </div>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}