{% extends 'baze.html' %}

{% block content %}
<div class="container">
    <h3>{{ name }}</h3>
    {% for i in list %}
        <p>
        <div class="card">
            <div class="card-body">
                {{ i.text }}
                <small id="modern" class="form-text text-muted">{{ i.people }}</small>
            </div>
        </div>
    {% endfor %}
    <p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name = button value = back class="btn btn-outline-info">Выбрать историю</button>
    </form>
</div>
{% endblock %}