<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Да, я запилил уже сайт</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Коллективный разум</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="write" tabindex="-1" aria-disabled="true">Писать</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="read">Читать<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3>Предложить начало поэмы:</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Name">Ваше имя:</label>
                    <input class="form-control" name="people" placeholder="Иван Иванович Иванов (Не больше 30 символов)">
                </div>
                <div class="form-group">
                    <label for="Name">Название поэмы:</label>
                    <input class="form-control" name="name" placeholder="(Не больше 50 символов)">
                </div>
                <div class="form-group">
                    <label for="Text">Начало:</label>
                    <textarea class="form-control" name=text rows="10"></textarea>
                </div>
                <button type="send" name=button class="btn btn-success">Начать рассказ</button>
                <small id="modern" class="form-text text-muted">Всё предложенное вами НЕ проходит модернизацию. Просьба относиться к поэме вежливо!</small>
            </form>
        </div>
    </body>
</html>