{% extends 'baze.html' %}

{% block content %}
<div class="container">
    <h3>Предложить начало поэмы:</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="Name">Ваше имя:</label>
            <input class="form-control" name="people" placeholder="Иван Иванович Иванов (Не больше 30 символов)">
        </div>
        <div class="form-group">
            <label for="Name">Название поэмы:</label>
            <input class="form-control" name="name" placeholder="(Не больше 50 символов)">
        </div>
        <div class="form-group">
            <label for="Text">Начало:</label>
            <textarea class="form-control" name=text rows="10"></textarea>
        </div>
        <button type="send" name=button class="btn btn-success">Начать рассказ</button>
        <small id="modern" class="form-text text-muted">Всё предложенное вами НЕ проходит модернизацию. Просьба относиться к поэме вежливо!</small>
    </form>
</div>
{% endblock %}